<div class="alert alert-primary" role="alert">
    <h1>Editing Author</h1>

    <%= render 'form', author: @author %>

    <%= link_to 'Mostrar', @author %> |
    <%= link_to 'Voltar', authors_path %>
</div>
