<div class="alert alert-primary" role="alert">
   <h3>Novo Autor</h3>

    <%= render 'form', author: @author %>

    <%= link_to 'Voltar', authors_path %>
    <ul></ul>
    <h3>Menu</h3>
    <li><%= link_to "Livros", books_path %></li>
        <li><%= link_to "Autores", authors_path %></li>
        <li><%= link_to "Clientes", clients_path %></li>
        <li><%= link_to "Bibliotecários", librarians_path %></li>
        <li><%= link_to "Reservas", reservations_path %></li>

        <ul></ul>
        <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>