<div class="alert alert-primary" role="alert">
    <h1>Editing Client</h1>

    <%= render 'form', client: @client %>

    <%= link_to 'Mostrar', @client %> |
    <%= link_to 'Voltar', clients_path %>
</div>