<div class="alert alert-primary" role="alert">  
 <p id="notice"><%= notice %></p>

  <h3>Clientes</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= link_to 'Mostrar', client %></td>
          <td><%= link_to 'Editar', edit_client_path(client) %></td>
          <td><%= link_to 'Deletar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Cliente', new_client_path %>
        <ul></ul>
  <h3>Menu</h3>
  <li><%= link_to "Livros", books_path %></li>
      <li><%= link_to "Autores", authors_path %></li>
      <li><%= link_to "Clientes", clients_path %></li>
      <li><%= link_to "Bibliotecários", librarians_path %></li>
      <li><%= link_to "Reservas", reservations_path %></li>

      <ul></ul>
      <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>