<div class="alert alert-primary" role="alert"> 
    <h1>New Client</h1>

    <%= render 'form', client: @client %>

    <%= link_to 'Back', clients_path %>

    <h1>Menu</h1>
    <li><%= link_to "Livros", books_path %></li>
        <li><%= link_to "Autores", authors_path %></li>
        <li><%= link_to "Clientes", clients_path %></li>
        <li><%= link_to "Bibliotecários", librarians_path %></li>
        <li><%= link_to "Reservas", reservations_path %></li>

        <ul></ul>
        <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>