<div class="alert alert-dark text-center" role="alert"> 
    <h2>Sistema de Biblioteca</h2>
    <h3>Seja bem-vindo!</h3>

    
        <p><%= current_librarian.email %></p>
        <p><%= link_to "Cadastrar novo usuário", new_librarian_path %></p>
        <p><%= link_to "Sair", destroy_librarian_session_path, method: :delete %></p>



    
        <li><%= link_to "Livros", books_path %></li>
        <li><%= link_to "Autores", authors_path %></li>
        <li><%= link_to "Clientes", clients_path %></li>
        <li><%= link_to "Bibliotecários", librarians_path %></li>
        <li><%= link_to "Reservas", reservations_path %></li>
    
</div>