<div class="alert alert-primary" role="alert">
    <h3>Novo Livro</h3>

    <%= render 'form', book: @book %>

    <%= link_to 'Voltar', books_path %>
    <ul></ul>
    <h4>Menu</h4>
    <li><%= link_to "Livros", books_path %></li>
        <li><%= link_to "Autores", authors_path %></li>
        <li><%= link_to "Clientes", clients_path %></li>
        <li><%= link_to "Bibliotecários", librarians_path %></li>
        <li><%= link_to "Reservas", reservations_path %></li>

        <ul></ul>
        <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>