<div class="alert alert-primary" role="alert"> 
 <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @book.author.name %>
  </p>

  <%= link_to 'Editar', edit_book_path(@book) %> |
  <%= link_to 'Voltar', books_path %>

  <h3>Menu</h3>
  <li><%= link_to "Livros", books_path %></li>
      <li><%= link_to "Autores", authors_path %></li>
      <li><%= link_to "Clientes", clients_path %></li>
      <li><%= link_to "Bibliotecários", librarians_path %></li>
      <li><%= link_to "Reservas", reservations_path %></li>

      <ul></ul>
      <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>