<div class="alert alert-primary" role="alert">
    <h1>Editing Reservation</h1>

    <%= render 'form', reservation: @reservation %>

    <%= link_to 'Mostrar', @reservation %> |
    <%= link_to 'Voltar', reservations_path %>
</div>