<div class="alert alert-primary" role="alert"> 
  <p id="notice"><%= notice %></p>


  <%= search_form_for @q do |f| %>
    <%= f.label :book_title_cont %>
    <%= f.search_field :book_title_cont %>
    <br>
    <%= f.label :client_name_cont %>
    <%= f.search_field :client_name_cont %>
    <br>
    <%= f.label :librarian_email_cont %>
    <%= f.search_field :librarian_email_cont %>
    <br>
    <%= f.select :active_eq, [['Active', true], ['Not Active', false]], include_blank: 'All' %>
    <%= f.submit %>
  <% end %>

  

  <ul></ul>
  <h3>Reservas</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Livro</th>
        <th>Cliente</th>
        <th>Bibliotecário</th>
        <th>Active</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.book.title %></td>
          <td><%= reservation.client.name %></td>
          <td><%= reservation.librarian.email %></td>
          <td><%= reservation.active %></td>
          <td><%= link_to 'Mostrar', reservation %></td>
          <td><%= link_to 'Editar', edit_reservation_path(reservation) %></td>
          <td><%= link_to 'Deletar', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nova Reserva', new_reservation_path %>
  <ul></ul>
  <h3>Menu</h3>
  <li><%= link_to "Livros", books_path %></li>
      <li><%= link_to "Autores", authors_path %></li>
      <li><%= link_to "Clientes", clients_path %></li>
      <li><%= link_to "Bibliotecários", librarians_path %></li>
      <li><%= link_to "Reservas", reservations_path %></li>

      <ul></ul>
      <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>