<div class="alert alert-primary" role="alert"> 
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Book:</strong>
    <%= @reservation.book.title %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= @reservation.client.name %>
  </p>

  <p>
    <strong>Librarian:</strong>
    <%= @reservation.librarian.email %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @reservation.active %>
  </p>

  <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
  <%= link_to 'Back', reservations_path %>


  <h1>Menu</h1>
  <li><%= link_to "Livros", books_path %></li>
      <li><%= link_to "Autores", authors_path %></li>
      <li><%= link_to "Clientes", clients_path %></li>
      <li><%= link_to "Bibliotecários", librarians_path %></li>
      <li><%= link_to "Reservas", reservations_path %></li>

      <ul></ul>
      <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>