<div class="alert alert-primary" role="alert">
    <h1>Editing Librarian</h1>

    <%= render 'form', librarian: @librarian %>

    <%= link_to 'Mostrar', @librarian %> |
    <%= link_to 'Voltar', librarians_path %>
</div>
