<div class="alert alert-primary" role="alert"> 
  <p id="notice"><%= notice %></p>

  <h3>Bibliotecários</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th></th>
        <th> </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @librarians.each do |librarian| %>
        <tr>
          <td><%= librarian.email %></td>
          <td><%= librarian.password %></td>
          <td><%= librarian.password_confirmation %></td>
          <td><%= link_to 'Mostrar', librarian %></td>
          <td><%= link_to 'Editar', edit_librarian_path(librarian) %></td>
          <td><%= link_to 'Deletar', librarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Bibliotecário', new_librarian_path %>
        <ul></ul>
  <h3>Menu</h3>
  <li><%= link_to "Livros", books_path %></li>
      <li><%= link_to "Autores", authors_path %></li>
      <li><%= link_to "Clientes", clients_path %></li>
      <li><%= link_to "Bibliotecários", librarians_path %></li>
      <li><%= link_to "Reservas", reservations_path %></li>

      <ul></ul>
      <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>

