<div class="alert alert-primary" role="alert">  
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= @librarian.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @librarian.password %>
  </p>

  <p>
    <strong>Password confirmation:</strong>
    <%= @librarian.password_confirmation %>
  </p>

  <%= link_to 'Edit', edit_librarian_path(@librarian) %> |
  <%= link_to 'Back', librarians_path %>

  <h1>Menu</h1>
  <li><%= link_to "Livros", books_path %></li>
      <li><%= link_to "Autores", authors_path %></li>
      <li><%= link_to "Clientes", clients_path %></li>
      <li><%= link_to "Bibliotecários", librarians_path %></li>
      <li><%= link_to "Reservas", reservations_path %></li>

      <ul></ul>
      <li><%= link_to "Voltar para Menu", home_index_path %></li>
</div>